.profile-picture {
  max-width: 15%;
  height: auto;
  margin: 0 auto;
  margin-right: 0px;
}

.profile-section {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.profile-section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section-title {
  font-family: 'Arial', sans-serif;
  font-size: 2.8rem;
  margin-bottom: 0px;
}

.mission-statement {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 10px;
}

.mission-statement p {
  font-size: 1.2rem;
  color: #aaa;
  line-height: 1.6;
}

.email-link {
  color: #2af5ff;
  text-decoration: none;

}

.links-section {
  margin-bottom: 30px;
}

.links-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.links-section ul {
  list-style: none;
  padding: 0;
}

.links-section li {
  margin-bottom: 10px;
}

.links-section a {
  text-decoration: none;
  color: #007bff;
}

.experience-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.resumeButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6184d8;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.resumeButton:hover {
  background-color: #4465b7;
}
