.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .siteTitle {
    font-family: 'Soin Sans Pro', sans-serif;
    font-size: 4rem;
    color: #6184d8;
    margin-bottom: 20px;
  }

  .navLinks {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .navLinkItem {
    padding: 0 10px;
  }

  .navLinkText {
    color: #f3e8ee;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }

  .navLinkText:hover {
    color: rebeccapurple;
  }
