.container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0px 20px;
  background-color: black;
  z-index: 1000;
  width: 100%;
}

.siteTitle {
  font-family: 'Soin Sans Pro', sans-serif;
  font-size: 4rem;
  color: #6184d8;
  margin-bottom: 20px;
  margin-left: 50px;
}

.site-title-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.navLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navLinkItem {
  padding: 0 50px;
}

.navLinkText {
  color: #f3e8ee;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navLinkText:hover {
  color: rebeccapurple;
}

.titleLogoContainer {
  display: flex;
  margin-right: 90px;
}

.logoContainer {
  display: flex;
  align-items: center; /* Align logos vertically */
  padding-top: 30px;
  margin-left: auto;
}

.logo {
  margin-left: 50px; /* Adjust spacing between logos */
  width: 30px; /* Set width of logos */
  height: auto; /* Maintain aspect ratio */
  filter: invert(100%);
  transition: color 0.3s ease-in-out;
}

.logo:hover {
  filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(280deg);
}
